<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
    <body>
        <div class="bs-example">
            <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" style="display:flex; justify-content:space-between; align-items:center;">
                <div>
                    <a href="/"><img src="{% static 'images/library.png' %}" alt="Logo" style="width: 40px; height: 40px" ></a>

                    </button>
                </div>

                <div>
                    <div class="Search" id="SearchDesktop">
                        <form method="post" id="form-search" class="form-search">
                            <label class="Form-Icon">
                                <input type="text" name="keyword" placeholder="Search books" onkeyup="onSearch(this.value,'SearchDesktop')" id="searchkeyword" autocomplete="off"> 
                                <button id="searchsubmit" type="submit" style="width: 40px; height: 40px" ><i class=" fa fa-search" style="font-size:20px;"></i></button>
                            </label>
                            <a href="/adminlogin" class="nav-item nav-link">Login</a>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </body>
</html>
