<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <!-- Begin: Nav -->
            <ul id="nav">
                <div class="logo" style="padding: 0 10px 0 0; width: 45px; height: 45px;">
                    <a href="/admin"><img src="https://template68194.motopreview.com/mt-demo/68100/68194/mt-content/uploads/2018/07/mt-1519-logo.png" alt="Logo" style="width: 45px; height: 45px" ></a>
                </div>
                <li><a href="/admin">Home</a></li>
                <li><a href="/admin-collections">Colections</a></li>
                <li>
                    <a href="">
                        Admin
                        <i class="nav-sort-down fa fa-sort-down"></i>
                    </a>
                    <ul class="subnav">
                        <li><a href="/book/add">Add Book</a></li>
                        <li><a href="/card/add">Create Borrow Card</a></li>
                        <li><a href="/member/add">Create Library Card</a></li>
                        <li><a href="/memberDetail">View Library Card</a></li>
                        <li><a href="/bookDetail">View Library Book</a></li>
                        <li><a href="/cardDetail">View Borrow Card</a></li>
                        <li><a href="/interested_author">View Interested Author</a></li>
                        <li><a href="/interested_topic">View Interested Topic</a></li>
                    </ul>
                </li>

            </ul>
            <!-- End: Nav -->

            <!-- Begin: Search Book -->
            <form method="POST" action="/admin-search-book" class="search-book">
                {% csrf_token %}
                    <input class="search-text" type="text" name="book" placeholder="Enter author, subject name or title">
                    <div class="search_btn_block">
                        <button class="search_btn" type="submit">SEARCH</button>
                    </div>
            </form>
            
            <!-- End: Search Book -->

            <!-- Begin: Login -->
            <div class="login-form">
                <a href="/">
                    <button class="button-login">LOGOUT</button>
                </a>
            </div>
            <!-- End: Login -->
        </div>
    </div>
</body>
</html>