<!DOCTYPE html>
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Library Management System</title>
  <link rel="stylesheet" href="/static/assets/css/style.css">
 
    <style>
      .slider {
        margin-top: 50px;
        padding-top: 50%;
        background: url('https://template68194.motopreview.com/mt-demo/68100/68194/mt-content/uploads/2018/07/mt-1519-content-bg-1.jpg') 
        top center / cover no-repeat;
      }


    </style>
  </head>

  <body>
    {% include "admin-header.html" %}
  <div class="slider">
   
  </div>
  
  {% include "admin-footer.html" %}

  </body>
  </html>
