<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/static/assets/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;1,300;1,400&display=swap" rel="stylesheet">

  <title>Library Management System</title>
 
  <style>
    html {
      background-color: #f2f2f2;
    }

    .slider {
      margin-top: 50px;
      padding-top: 50%;
      background: url('https://template68194.motopreview.com/mt-demo/68100/68194/mt-content/uploads/2018/07/mt-1519-content-bg-1.jpg')
      top center / cover no-repeat;
    }


  </style>
</head>

  <body>
  {% include "header.html" %}
  <div class="slider">
   
  </div>

  <div class="content">
    
  </div>
  
  {% include "footer.html" %}

  </body>
</html>
