<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Library Management System</title>
  <link rel="stylesheet" href="/static/assets/css/style.css">
 
    <style>
      .slider {
        margin-top: 50px;
        padding-top: 75%;
        background: url('/static/images/college-library.jpg') top center / cover no-repeat;
      }


    </style>
  </head>

  <body>
    {% include "header.html" %}
  <div class="slider">
   
  </div>
  
  {% include "footer.html" %}

  </body>
  </html>
